:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
}

body {
  margin: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('/images/bg-intro-mobile.png') repeat-X var(--red)
    center/contain;
}

.main {
  box-sizing: border-box;
  font-family: 'Poppins';
  color: white;
  min-height: 100vh;
  padding: 7em 2em 3em 2em;
  max-width: 1440px;
}

.main__heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.3em;
  margin-bottom: 1em;
}

.main__subtext {
  font-size: 1.15rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.5em;
  margin-bottom: 3em;
}

.main__trial {
  background: var(--blue);
  padding: 1em 3em;
  font-size: 1.1rem;
  text-align: center;
  line-height: 1.6em;
  margin-bottom: 1.5em;
  border-radius: 12px;
  box-shadow: 0 8px rgba(0, 0, 0, 0.131);
}

.fw-700 {
  font-weight: 700;
}

.main__form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 1.5em;
  border-radius: 10px;
  box-shadow: 0 8px rgba(0, 0, 0, 0.131);
}

.form__input {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.181);
  border-radius: 6px;
  padding-left: 0.15em;
  padding-right: 2em;
  margin-bottom: 40px;
}

.input-field {
  font-size: 1rem;
  font-weight: 600;
  padding: 1.2em 1em;
  color: var(--dark-blue);
  border: none;
  flex: 1;
}

.input-field:focus {
  outline: none;
}

.input-field::placeholder {
  color: var(--dark-blue);
}

.form__submit {
  background-color: var(--green);
  text-transform: uppercase;
  color: white;
  border: none;
  font-weight: 600;
  font-size: 1.1rem;
  text-align: center;
  border-radius: 5px;
  padding: 1.4em 1em;
  box-shadow: 0 5px hsl(154, 59%, 46%);
  cursor: pointer;
  margin-bottom: 20px;
}

.form__submit:hover {
  background-color: hsl(154, 59%, 61%);
}

.form__submit:active {
  transform: translateY(5px);
  box-shadow: none;
}

.disclaimer {
  color: var(--grayish-blue);
  text-align: center;
  padding: 0 1em;
  font-size: 0.81rem;
  font-weight: 500;
  line-height: 1.8em;
}

.link-important {
  text-decoration: none;
  color: red;
  font-weight: 600;
}

.error-message {
  color: red;
  text-align: end;
  font-style: italic;
  padding: 0.5em 0;
}

.border-error {
  border: 2px solid red;
  margin-bottom: 0px;
}

@media (min-width: 700px) {
  #root {
    background: url('/images/bg-intro-desktop.png') repeat-y var(--red)
      center/contain;
  }

  .main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content auto;
    grid-template-areas: 'text trial' 'text form';
    align-items: start;
    padding: 8rem 10rem 10rem 10rem;
  }

  .main__text {
    grid-area: text;
    align-self: center;
  }

  .main__heading {
    font-size: 3rem;
    text-align: left;
    padding-right: 1.5em;
  }

  .main__subtext {
    font-size: 1rem;
    text-align: left;
    padding-right: 3em;
  }

  .main__trial {
    grid-area: trial;
  }

  .main__form {
    grid-area: form;
    padding: 2.5em;
  }

  .input-field {
    padding: 1.5em 2em;
  }

  .form__submit {
    padding: 1em 0;
  }
}
